* {
    margin:0;
    padding:0;
}
body {
    width:100vw;
    height: 100vh;
    overflow: hidden;
}
#bgTop {
    height:50vh;
    width:100%;
    position: relative;
}
#bgBottom {
    width: 100vw;
    height:100vh;
    filter: blur(5px);
    position: absolute;
}
.musicBox {
    position: relative;
}
.range {
    width:100%;
    cursor: pointer;
}
.currentTime {
    font-size: 20px;
    color: #eee;
    position: absolute;
    top:3vh;
    left:2vw;
}
.endTime {
    font-size: 20px;
    color: #eee;
    position: absolute;
    top:3vh;
    right:2vw;
}
.favorite {
    position: absolute;
    top:10vh;
    left:7vw;
    color: #eee;
    font-size: 26px;
    cursor: pointer;
}
.pink {
    color: pink!important;
}
.songList {
    position: absolute;
    top:10vh;
    right:7vw;
    color: #eee;
    font-size: 26px;
    cursor: pointer;
}
.songName {
    position: absolute;
    top:8vh;
    left:50%;
    transform: translateX(-50%);
    color: white;
}
.singer {
    position: absolute;
    top:17vh;
    left:50%;
    transform: translateX(-50%);
    color: #7c7c7c;
}
.previous {
    position: absolute;
    top:35vh;
    left:10vw;
    color: #eee;
    font-size: 35px;
    cursor: pointer;
}
.next {
    position: absolute;
    top:35vh;
    right:10vw;
    color: #eee;
    font-size: 35px;
    cursor: pointer;
}
.play {
    position: absolute;
    top:32vh;
    left:50%;
    transform: translateX(-50%);
    color: #eee;
    width:70px;
    height:70px;
    line-height: 70px;
    text-align: center;
    border:3px solid #eee;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
}
.on {
    font-size: 22px;
    padding-right:10px;
}
.list {
    color: #000;
    background: #fff;
    width: 66vw;
    height: 50vh;
    opacity: 0.9;
    position: absolute;
    bottom:-50vh;
    right:13vw;
    transition: bottom 1s;
}
.appear {
    bottom:-3vh;
}
.listHead {
    text-align: center;
    border-bottom:1px solid #666 ;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.list ul {
    list-style: none;
}
.item {
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    border-bottom:1px solid #666 ;
    font-size: 16px;
}
